<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
    
    <title>STAND.IO</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <link rel="stylesheet" href="/stylesheets/sweet-alert.css" />
  </head>
  <body>
    <div id="header">
      <h1><a href="/">STAND.IO</a></h1>
         <br>
      <fonrm><input placeholder="WHO IS YOU?" id="form_user" /></form><br><br>
      <div id="date_controls"> 
        <a href="/date/<%= mm %>/<%= parseInt(dd)-1 %>/<%= yyyy %>"><<</a> 
        <span id="form_date"><%= mm %>/<%= dd %>/<%= yyyy %></span>
        <a href="/date/<%= mm %>/<%= parseInt(dd)+1 %>/<%= yyyy %>">>></a> 
      </div>
    </div>
    
    <% for (var i = 0; i <= end_hour-start_hour; i++) { 
      var current_time = i+start_hour
      console.log(current_time)
    %>
     <div id="hour_<%= current_time %>" class="slot"> 
       <div class="timestamp">
       <% if (current_time < 13){ %> <%= current_time %> <% if (current_time == 12){ %>PM<%}else {%>AM<%} %> 
       <% } else {%> <%= current_time-12 %> PM <%}%></div>

       <div class="booked_by"><%= day_array[i] %></div>
       
       <div class="actions"><a class="write-link action-links" href="/write/<%=current_time%>/_user_/_date_">BOOK</a><br>
       <a class="action-links cancel-link" href="/cancel/<%=current_time%>/_user_/_date_">CANCEL</a></div>

     </div>
    <% } %>
    
    <br><br>
    <a href="https://github.com/bananatron/standio">Source</a>
  </body>
</html>

<script src="/javascript/sweet-alert.min.js"></script>
<script src="/javascript/jquery.js"></script>
<script src="/javascript/main.js"></script>